html, body {
    margin: 0;
    padding: 0; 
    position: relative;
    /* color: #2E2925; */
    font-family: 'times new roman',times,serif;
    background-color: white;
}

#background-video { /*https://blog.hubspot.com/website/video-background-css*/
  width: 1500px;
  height: 700px;
  object-fit: cover;
  position: static;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.tag {
  font-family: 'times new roman',times,serif;
  font-weight: 800;
  color:black;
  line-height: 14px;
  font-size: 16px;
  margin-left: 450px;
  margin-top: 50px;
}

.byline {
  font-family: 'times new roman',times,serif;
  margin-left: 450px;
  color:black;
  line-height: 14px;
  font-size: 18px;
  text-align: left;
}

.date {
  font-family: 'times new roman',times,serif;
  margin-left: 450px;
  color: black;
  line-height: 10px;
  font-size: 16px;
  text-align: left;
}

/* #banner {
  color: aliceblue;
  background-color: "none";
  background-image: url('https://youtu.be/uUNhmJk7Re0');
  background-position: 50% 100%;
  background-color: non-repeat;
  background-position: center;
  background-size: cover;
  padding: 20vh 25px;
  text-align: center;
} */


h3 {
    font-family: 'times new roman',times,serif;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 5;
    color:  black;
    font-size: 20px;
    line-height: 1.5;
    margin: auto;
    text-indent: 2em;
}

h4 {
    text-align: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    font-family: 'times new roman',times,serif;
    font-size: 20px;
    background-color: white; /*#272D25 */
    color: black;
}

.chat-title {
    text-align: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    font-weight: bold;
    color: black;
    font-size: 25px;
    font-family: 'times new roman',times,serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    text-indent: 1px;
  }

.paragraph {
    text-align: left; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    /* font-weight: bold; */
    color: black;
    font-size: 20px;
    font-family: 'times new roman',times,serif;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 450px;
    margin-right: 400px;
    text-indent: 1px;
}

.col-md-11 {
    font-family: 'times new roman',times,serif;
    margin-left: 230px;
}

.col-md-12 {
    /* text-align: center; */
    margin-left: 450px;
    font-style: italic;
    color: black;
    /* font-weight: bolder; */
    font-family: 'times new roman',times,serif;
    font-size: 20px;
    background-color: white;
}

.col-md-13 {
    text-align: justify; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
    font-weight: bold;
    color: white;
    font-family: 'times new roman',times,serif;
    margin-left: 200px;
    margin-right: 200px;
    text-indent: 1px;
}

.col-md-14 {
    text-align: center;
    font-weight: lighter;
    color: white;
    float: left;
    padding: 10px;
    font-family: 'times new roman',times,serif;
}

.table {
    margin-left: 10px;
}

/* @media (max-width:550px){
    .headline {
        width: 95%;
        margin-left: 10px;
        }
      .container {
        width: 96%;
        margin-left: 10px;
        background-color: #F2F3F4;
        }
    }
  
  @media (min-width:551px){
    .headline {
        width: 50%;
        margin-left: 10px;
        }
    .container {
         width: 73%;
         margin-left: 10px;
         background-color: #F2F3F4;
        }
    } */

    a:link {
        color:#40678D;
        text-decoration: underline;
    }

    a:visited {
        color:#40678D;
    }
    
    a:hover {
         color:#40678D;
         text-decoration: none;
        /* background-color: #D68910; */
    }

    #tooltip {
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        font-family: 'times new roman',times,serif;
        font-size: 10pt;
        background-color:white;
        padding: 3px;
        opacity: 0;
        pointer-events: none;
        border: 2px solid #21618C;
      }

.flourish-embed {
margin-left: 200px;
width: 1050px;
}

/* For firt-part scrollypart  */
#scrolly {
  position: relative;
  background-color: #f3f3f3;
}

/* This is for side-by-side scrollytelling with D3.js */
/* #scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
} */

article {
  position: relative;
  font-family: 'times new roman',times,serif;
  padding: 0;
  max-width: 45rem;
  margin: 0 auto;
  z-index: 100;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-color: white;
  z-index: 0;
  top: 0vh;
  height: 100vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-thing p {
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-family: 'times new roman',times,serif;
  line-height: 30px;
}

.sticky-thing h3 {
  /* font-weight: 600; */
  font-style: italic;
  text-align: center;
  font-family: 'times new roman',times,serif;
  color: #fff;
  /* text-shadow: 4px 3px #black; */
  font-size: 20px;
  line-height: 30px;
  padding-top: 90vh;
  padding-left: 90vh;
}

.step { /* change the size of the frame */
  margin: 0 auto 2rem auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25rem;
  opacity: 0.7;
  padding-bottom: 1rem;

}

.step:last-child {
  margin-bottom: 0vh;
}

.step.is-active p {
  opacity: 1;
  /* background-color: #616A6B; when you scroll down or up, the color of frame will change. */
}

.step p { /* change the size of the text size */
  text-align: left;
  padding: 2rem;
  font-size: 1.3rem;
  line-height: 1.2rem;
  background-color: whitesmoke;
  color: black;
  font-family: 'times new roman',times,serif;
  line-height: 30px;
}

  /* @media (max-width:550px){
    .headline {
        width: 95%;
        margin: 0 auto;
        }
      .container {
        width: 96%;
        margin: 0 auto 0 auto;
        background-color: white;
        }
    }
  
  @media (min-width:551px){
    .headline {
        width: 50%;
        margin: 0 auto;
        }
    .container {
         width: 73%;
         margin: 0 auto 0 auto;
         background-color: #272D25;
        }
    } */


/* For second-part scrolly */
#scrolly3 {
  margin: 0;
  position: relative;
  padding: 1rem;
}



.scrolly-overlay3 {
  position: relative;
  padding: 0;
  min-width: 35rem;
  margin: auto;
}

.sticky-thing3 {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 0;
  height: 100vh;
  /* Center everything inside */
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.step3 {
  margin: 0 auto 2rem auto;
  margin-left: 50px;
  margin-bottom: 25rem;
  background-color: #fbc35225;
  opacity: 80%;
  color: black;
}

.step3 p {
  text-align: left;
  padding: 3px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 1px;
  /* background-color: #fbc35225; */
  font-family: 'times new roman',times,serif;
}

/* .step3.is-active p {
  opacity: 1;
  background-color: #4290C5;
} */

.hidden { visibility: hidden; }

/* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {
#scrolly3.side-by-side {
display: flex;
}

#scrolly3.side-by-side > div {
flex-basis: 0;
flex-grow: 1;
flex-shrink: 1;
padding: 0.75em;
}

#scrolly3.side-by-side .scrolly-overlay3 {
margin-top: 70vh;
order: 0;
/* Change these to adjust sizing options */
min-width: 15rem;
max-width: 20rem;
}

#scrolly3.side-by-side .sticky-thing3 {
order: 1;
flex-grow: 2;
}
}



/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: white;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 700px ) {
  .carousel img {
    height: 400px;
  }
}

/* .axis path, 
.axis line {
  stroke: #EEECE7;
} */

#chart--container {
  width: 100%;
}

#chart {
  width: 80%;
  float: left;
  /* height: 80vh; */
  position: relative;
}

#legend {
  width: 20%;
  float: right;
  color: black;;
}

.legend--label {
  font-size: 12pt;
  dominant-baseline: central;
}

.axis--label{
  font-size: 16pt;
  font-weight: bold;
  text-anchor: middle;
}

.axis {
  font-size: 10pt;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  padding: 2px;
  color: #1ABC9C;
  background-color: rgba(255,255,255,0.8);
  font-size: 11pt;
}

.tooltip2 {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  color: #5DADE2;
  padding: 2px;
  background-color: rgba(255,255,255,0.8);
  font-size: 11pt;
}

.dropcap {
  float: left;
  font-size: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-right: 6px;
}

.dropcap-1 {
  float:inline-start;
  font-size: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-right: 6px;
}

.dropcap-2 {
  float: inline-end;
  font-size: 60px;
  line-height: 40px;
  padding-top: 60px;
  padding-bottom: 2px;
  padding-right: 8px;
}

blockquote {
  font-size: 25pt; 
  margin: 2rem 8rem;
  font-style: italic;
  line-height: 130%;
  font-weight: bold;
  /* color: #1ABC9C; */
}